@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300);

$color-gray: #E4E4E4;
/*$color-gray-dark: #1a1a1a;*/
$color-gray-dark: #337ab7;
$border-tiny: 1px solid $color-gray;

*{
	font-family: 'Roboto', sans-serif;
}

.no-margin{
	margin: 0;
}

.no-padding{
	padding: 0;
}

.btns-entrada {
	margin-top: 80px;
}

body {
	width: 960px;
	height: 410px;
	border: $border-tiny;
	padding: 0;
	overflow: hidden;
}

/*botoes de fechar e minimizar*/
.hc {
	background-color: $color-gray-dark;
	-webkit-app-region: drag;
	margin: 0;
	padding: 0 5px;

	.hc-buttons {
		-webkit-app-region: no-drag;
		.btn {
			background-color: $color-gray-dark;
			margin: 0;
			border: none;
			border-radius: 0;
			color: white;
		}

		.btn:hover{
			color: white;
		}
	}
}

section.row{
	@extend .no-margin;
}

.col-md-1{
	border: 1px solid black;
}

.hour-prime{
	font-size: 75px;
	font-weight: 100;
}

.btn-primary {
	border-radius: 0;
}


#toast-container > div {
	border-radius: 0;
}

.btns-entrada {
	.btn {
		margin: 10px;
	}
}